@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
/* ----------------Header-------------- */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 35px;
    font-weight: 900;
    color: #359381;
    pointer-events: none;
}
.navigation{
    margin-left: 280px;
}
.navigation a {
    font-size: 18px;
    font-weight: 600;
    color: #359381;
    text-decoration: none;
    margin: 0 10px;
    padding: 6px 10px;
    border-radius: 20px;
    transition: .3s;
}
.navigation a:hover,
.navigation a.active{
    background: #359381;
    color: #ffffff;
}
/* -------------Parallax--------------- */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    color: #ffffff;
    position: absolute;
    font-size: 4em;
    font-weight: bolder;
    text-shadow: 2px 2px  4px rgba(0, 0, 0, .2);
}
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* --------------Scrolling----------------- */
.scroll{
    background: #003329;
    color: #ffffff;
    position: relative;
    padding: 100px;
}
.scroll h1{
    font-size: 3em;
    margin-bottom: 10px;
}
.scroll p{
    font-size: 1em;
    font-weight: 300;
}